In [1]:
import pandas as pd
url="https://github.com/phat-ap/curly-octo-train/raw/c22aec8f6ae3552a967c336ee09a5b938f084d8e/Oil%20Price.xlsx"
sheet_name="Sheet1"
df = pd.read_excel(url, sheet_name=sheet_name, index_col = "Date", usecols = ['Date', 'DUBAI'])

# Convert to just a series
dubai = df.squeeze()
dubai

Date
1990-01-01    18.180
1990-01-02    18.180
1990-01-03    18.835
1990-01-04    18.470
1990-01-05    18.115
               ...
2022-02-17    92.035
2022-02-18    90.415
2022-02-21    91.860
2022-02-22    96.090
2022-02-23    93.770
Name: DUBAI, Length: 8130, dtype: float64

In [18]:
print(dubai.resample('M').mean()[-2:])
print(dubai.resample('M').last()[-2:])
print(dubai.resample('Q').mean()[-2:])
print(dubai.resample('Q').last()[-2:])
print(dubai.resample('Y').mean()[-2:])
print(dubai.resample('Y').last()[-2:])

Date
2022-01-31    83.306667
2022-02-28    91.063750
Freq: M, Name: DUBAI, dtype: float64
Date
2022-01-31    88.525
2022-02-28    93.770
Freq: M, Name: DUBAI, dtype: float64
Date
2021-12-31    78.380164
2022-03-31    86.661081
Freq: Q-DEC, Name: DUBAI, dtype: float64
Date
2021-12-31    77.135
2022-03-31    93.770
Freq: Q-DEC, Name: DUBAI, dtype: float64
Date
2021-12-31    69.514897
2022-12-31    86.661081
Freq: A-DEC, Name: DUBAI, dtype: float64
Date
2021-12-31    77.135
2022-12-31    93.770
Freq: A-DEC, Name: DUBAI, dtype: float64

Date
1990-01-31    17.490
1990-02-28    16.580
1990-03-31    15.650
1990-04-30    14.255
1990-05-31    13.770
               ...
2021-10-31    82.685
2021-11-30    72.045
2021-12-31    77.135
2022-01-31    88.525
2022-02-28    93.770
Freq: M, Name: DUBAI, Length: 386, dtype: float64