In [4]:
import pandas as pd
url="https://github.com/phat-ap/curly-octo-train/raw/c22aec8f6ae3552a967c336ee09a5b938f084d8e/Oil%20Price.xlsx"
sheet_name="Sheet1"
df = pd.read_excel(url, sheet_name=sheet_name, index_col = "Date", usecols = ['Date', 'DUBAI'])

# Convert to just a series
df = df.squeeze()

             DUBAI
Date
1990-01-01  18.180
1990-01-02  18.180
1990-01-03  18.835
1990-01-04  18.470
1990-01-05  18.115
...            ...
2022-02-17  92.035
2022-02-18  90.415
2022-02-21  91.860
2022-02-22  96.090
2022-02-23  93.770

[8130 rows x 1 columns]

In [11]:
df = df.squeeze()
type(df)

pandas.core.series.Series